;; Analyzed by ClojureScript 1.7.145
{:use-macros nil, :excludes #{}, :name drum-machine.state, :imports nil, :requires nil, :uses nil, :defs {initial-state {:name drum-machine.state/initial-state, :file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-drum-machine/jpu/7o2s6s/drum_machine/state.cljs", :line 3, :column 1, :end-line 3, :end-column 19, :meta {:file "/home/jannis/.boot/cache/tmp/home/jannis/oss/om-next-drum-machine/jpu/7o2s6s/drum_machine/state.cljs", :line 3, :column 6, :end-line 3, :end-column 19}}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:name :tracks :source :volume :play-on}, :order [:tracks :name :source :play-on :volume]}, :doc nil}