;; Analyzed by ClojureScript 1.7.145
{:name drum-machine.parsing.tracks, :doc nil, :excludes #{}, :use-macros nil, :require-macros {om om.next, om.next om.next}, :uses {mutate drum-machine.reconciler, read drum-machine.reconciler}, :requires {om om.next, om.next om.next, drum-machine.reconciler drum-machine.reconciler}, :imports nil, :cljs.analyzer/constants {:seen #{:selector :ref :value :tracks :state :action tracks/update :props}, :order [:tracks :state :selector :value tracks/update :ref :props :action]}}