;; Analyzed by ClojureScript 1.7.145
{:use-macros nil, :excludes #{}, :name drum-machine.parsing.tracks, :imports nil, :requires {om om.next, om.next om.next, drum-machine.reconciler drum-machine.reconciler}, :uses {mutate drum-machine.reconciler, read drum-machine.reconciler}, :require-macros {om om.next, om.next om.next}, :cljs.analyzer/constants {:seen #{:selector :ref :value :tracks :state :action tracks/update :props}, :order [:tracks :state :selector :value tracks/update :ref :props :action]}, :doc nil}